header {
    background-image: url(/assets/coastview.jpg);
    height: 80vh;
    background-size: cover;
}
.z  {
    z-index: -1;
}
footer {
    background-image: url(/assets/oceanview.jpg);
    height: 80vh;
    background-size: cover;
}
h1 {
    color: white;
    font-family: 'Homemade Apple', cursive;
    font-size: 4em;
}
.foot-text {
    color: white;
    font-family: 'Homemade Apple', cursive;
}
.top-contact {
    color: white;
}
.about-me {
    font-size: 1.5em;
}
.icon {
    font-size: 4rem;
}
h2 {
    font-family: 'Homemade Apple', cursive;
    font-size: 3em;
    text-align: center
}
.hexagon-grey {
    position: relative;
    width: 75px; 
    height: 43.30px;
    background-color: #dadada;
    margin: 21.65px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
  }
  
  .hexagon-grey:before,
  .hexagon-grey:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 53.03px;
    height: 53.03px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 10.9835px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
  }
  
  .hexagon-grey:before {
    top: -26.5165px;
  }
  
  .hexagon-grey:after {
    bottom: -26.5165px;
  }
  
  /*cover up extra shadows*/
  .hexagon-grey span {
    display: block;
    position: absolute;
    top:0px;
    left: 0;
    width:75px;
    height:43.3013px;
    z-index: 2;
    background: inherit;
  }
  .hexagon-white {
    position: relative;
    width: 75px; 
  height: 43.30px;
    background-color: #ffffff;
    margin: 21.65px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
  }
  
  .hexagon-white:before,
  .hexagon-white:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 53.03px;
    height: 53.03px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 10.9835px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
  }
  
  .hexagon-white:before {
    top: -26.5165px;
  }
  
  .hexagon-white:after {
    bottom: -26.5165px;
  }
  
  /*cover up extra shadows*/
  .hexagon-white span {
    display: block;
    position: absolute;
    top:0px;
    left: 0;
    width:75px;
    height:43.3013px;
    z-index: 2;
    background: inherit;
  }
  .hexagon-peach {
    position: relative;
    width: 75px; 
    height: 43.30px;
    background-color: #ffc3a4;
    margin: 21.65px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
  }
  
  .hexagon-peach:before,
  .hexagon-peach:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 53.03px;
    height: 53.03px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 10.9835px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
  }
  
  .hexagon-peach:before {
    top: -26.5165px;
  }
  
  .hexagon-peach:after {
    bottom: -26.5165px;
  }
  
  /*cover up extra shadows*/
  .hexagon-peach span {
    display: block;
    position: absolute;
    top:0px;
    left: 0;
    width:75px;
    height:43.3013px;
    z-index: 2;
    background: inherit;
  }
  .hexagon-blue {
    position: relative;
    width: 150px; 
    height: 86.60px;
    background-color: #c1d5e8;
    margin: 43.30px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
  }
  
  .hexagon-blue:before,
  .hexagon-blue:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 106.07px;
    height: 106.07px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 21.9670px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
  }
  
  .hexagon-blue:before {
    top: -53.0330px;
  }
  
  .hexagon-blue:after {
    bottom: -53.0330px;
  }
  
  /*cover up extra shadows*/
  .hexagon-blue span {
    display: block;
    position: absolute;
    top:0px;
    left: 0;
    width:150px;
    height:86.6025px;
    z-index: 2;
    background: inherit;
  }
  .hexagon-black {
    position: relative;
    width: 150px; 
    height: 86.60px;
    background-color: #000000;
    margin: 43.30px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
  }
  
  .hexagon-black:before,
  .hexagon-black:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 106.07px;
    height: 106.07px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 21.9670px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
  }
  
  .hexagon-black:before {
    top: -53.0330px;
  }
  
  .hexagon-black:after {
    bottom: -53.0330px;
  }
  
  /*cover up extra shadows*/
  .hexagon-black span {
    display: block;
    position: absolute;
    top:0px;
    left: 0;
    width:150px;
    height:86.6025px;
    z-index: 2;
    background: inherit;
  }