header {
    background-image: url(/assets/coastview.jpg);
    height: 80vh;
    background-size: cover;
}
.z  {
    z-index: -1;
}
footer {
    background-image: url(/assets/oceanview.jpg);
    height: 80vh;
    background-size: cover;
}
h1 {
    color: white;
    font-family: 'Homemade Apple', cursive;
    font-size: 4em;
}
.foot-text {
    color: white;
    font-family: 'Homemade Apple', cursive;
}
.top-contact {
    color: white;
}
.about-me {
    font-size: 1.5em;
}
.icon {
    font-size: 4rem;
}
h2 {
    font-family: 'Homemade Apple', cursive;
    font-size: 3em;
}

